body {
  font-family: 'Verdana', sans-serif;
  max-width: 1200px;
  margin: auto;
}
form.chartsettings-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

div.searchform-line {
  max-width: 700px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

button {
  margin: 30px auto;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px 30px;
  font-weight: bold;
  background-color: #e0c9a6;
  /*-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

button:hover {
  background-color: #ffa986;
}

#menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #e0c9a6;
  margin-top: 15px;

}

#menu div {
  -ms-flex: 1;  /* IE 10 */
}
#title {
  min-width: 200px;
  background-color: #e0c9a6;
  flex: 0.3;
  font-weight: bold;
  padding: 25px 15px 15px;


}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  flex: 10%;
}
.navbar div {
  -ms-flex: 1;  /* IE 10 */
  flex: 0.6;
}


.tab {
  /*height: 60px;*/
  background-color: #e0c9a6;
  flex: 20%;
  padding: 26px;

}

div.tab:hover {
  background-color: #b0a986;

}

img.logo {
  margin-top: 20px;
}

.start {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100vh;


}

#imagecontainer {
  display: grid;
  height: 100%;
  margin:auto;
}

.hidden {
  display: none;
}

div.chartsettings {
  flex: 1;
}

.label {
  text-transform: uppercase;
  font-weight: bolder;
}

div.chart, div.search-form-div {
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
padding: 15px;
margin: 15px;
background-color: #eee;
}

code {
  font-size: 18px;
}

pre {
  background-color: #eee;
  margin: 15px;
  padding: 15px;
}


table {
  font-size: 18px;
  margin:5px auto 30px;
  cursor:default;
}

th {
  background-color: #e0c9a6;
  padding: 10px 20px;
  margin: 5px;
}

tr {
  padding: 5px;
}

td {
  padding: 10px 20px;
}

.even {
  background-color: #eee;
}

tr:hover {
  background-color: #b0a986;
}

.gold {
  color: gold;
}
.forestgreen {
  color: forestgreen;
}
.grey {
  color: grey;
}
details {
  margin:15px auto;
}
summary {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #b0a986;
}

.footer {
	display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
	height: 80px;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: sticky;
	width: inherit;
	bottom: 5px;
	margin-bottom: 0 auto 5px;
	background-color: white;
	

}

.footerimg {
	flex: auto;
	align-items: center;
	text-align: center;
	cursor: pointer;
	width: inherit;

}

.imgfooterlogo {
	margin:auto;
}

div.content-tab {
	margin-bottom: 90px;
}